<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>{{{styles}}}</style>
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                {{title}} — {{file_name}}
            </div>
        </header>
        <main class="main">
            <div class="main-content">
                <div class="editor-header">
                    <div class="editor-header-content">
                        <a href="/dashboar/directory/{{parent_id}}" class="btn btn-gold">К директории</a>
                        <span class="editor--title">{{file_name}}</span>
                        <a href="/text_file/edit/{{file_id}}" class="btn btn-gold">Редактировать</a>
                    </div>
                </div>
                <div class="article-card">
                    {{{file_content}}}
                </div>
            </div>
        </main>
    </body>
</html>
