<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>{{{styles}}}</style>
        {{{extra_head}}}
    </head>
    <body>
        <header class="header">
            <div class="header-content">{{title}}</div>
        </header>
        <main class="main">
            <div class="main-content">
                {{{content}}}
            </div>
        </main>
    </body>
</html>
