<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/default/common.css">
        {{{extra_head}}}
    </head>
    <body>
        <header class="header">
            <div class="header-content container py-4">{{title}}</div>
        </header>
        <main class="main">
            <div class="main-content container">
                {{{content}}}
            </div>
        </main>
    </body>
</html>
