# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DATABASE_URL=mysql+pymysql://user:password@db:3306/dbname

# Redis
REDIS_HOST=fast-store
REDIS_PASSWORD=

# Host ports
BACKEND_PORT=8800
FRONTEND_PORT=8840
ADMINER_PORT=8820

# CORS
CORS_ORIGINS=http://127.0.0.1:8800,http://localhost:8800,http://127.0.0.1:8840,http://localhost:8840
