<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/default/default.css">
    </head>
    <body>
        <header class="header">
            <div class="header-content container py-4">
                <div>
                    <a class="header-title" href="/dashboard/home">
                        {{title}}
                    </a>
                    <span data-username></span>
                </div>
                <nav class="header-nav">
                    <ul>
                        <li>
                            <a href="/dashboard/home">Менеджер</a>
                        </li>
                        {{#is_root}}
                        <li>
                            <a href="/members">Группы и участники</a>
                        </li>
                        {{/is_root}}
                        <li>
                            <span data-logout>Выйти</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="main-content container">
                {{{content}}}
            </div>
        </main>
        <script>
        const get_cookie = (name) => {
            const cookieString = document.cookie.replace(/;\s*/g, '&')
            return new URLSearchParams(cookieString).get(name)
        }
        
        const fetch_user_data = _ => {
            const raw_b64 = get_cookie('user_data')
            const clean_b64 = raw_b64 ? raw_b64.replace(/^"|"$/g, '') : null

            return clean_b64 ? JSON.parse(atob(clean_b64)) : {}
        }

        const render_username = username => {
            const username_block = document.querySelector("[data-username]")
            username_block.innerHTML = username
        }
        
        render_username(fetch_user_data().username)
        
        </script>
    </body>
</html>
