<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>{{styles}}</style>
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                {{title}} - Root
            </div>
        </header>
        <main class="main">
            <div class="main-content">
                <div id="manager-grid" class="manager-grid"></div>
            </div>
        </main>
    <script src="/static/dashboard.js"></script>
    </body>
</html>