<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/style.css">
        <style>{{styles}}</style>
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                {{title}} - Root
            </div>
        </header>
        <main class="main">
            <div class="main-content">
                <div class="manager-grid">
                    <div class="file-item">
                        <div class="file-item-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbDLAmgnkhZ1QzOmmbG_gKC16b0XM3tZh8ca_Hs1FvBcobyeNRhShv0DA&s=10">
                        </div>
                        <div class="file-item-content">
                            <div class="file-item-title">
                                Заголовок Заголовок Заголовок
                                Заголовок Заголовок Заголовок
                                Заголовок Заголовок Заголовок
                                Заголовок Заголовок Заголовок
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>