<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <style>{{{styles}}}</style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    </head>
    <body data-dir-id="{{dir_id}}">
        <header class="header">
            <div class="header-content">
                {{title}} - Root
            </div>
        </header>
        <main class="main">
            <div class="main-content">
                <div class="manager-grid">
                    <div class="manager-grid-header">
                        <button
                            title="добавить директорию"
                            class="manager-button"
                            id="add-directory"
                        >
                        📁
                        </button>
                        <button title="добавить файл" class="manager-button" id="add-file">📄</button>
                    </div>
                    <div id="manager-grid" class="manager-grid-content"></div>
                </div>
            </div>
        </main>
    
    <div id="add-dir-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                Добавить директорию
            </div>
            <form id="add-dir-form" class="modal-body form">
                <input type="hidden" name="parent_id" value="{{dir_id}}">
                <label>
                    <input
                        type="text"
                        name="name" 
                        placeholder="имя директории"
                        value=""
                        autocomplete="off"
                    >
                </label>
                <button type="submit">Создать</button>
            </form>
        </div> 
    </div>

    <div id="add-file-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                Добавить файл
            </div>
            <form id="add-file-form" class="modal-body form">
                <input type="hidden" name="dir_id" value="{{dir_id}}">
                <label>
                    <input
                        type="text"
                        name="filename" 
                        placeholder="имя файла"
                        value=""
                        autocomplete="off"
                    >
                </label>
                <button type="submit">Создать</button>
            </form>
        </div> 
    </div>
    
    <script type="module" src="/static/dashboard/dashboard.js"></script>
    </body>
</html>