@use "common" as *;

.manager-grid {
  &-header {
    @extend .p-2;
    display: flex;
    gap: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    // border: 0.3rem solid $main-color;
    background-color: $second-color;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 0 -1rem;
  }

  &-item {
    flex: 0 0 calc(33.33333333% - 2rem);
    max-width: calc(33.33333333% - 2rem);
    margin: 1rem;
    background-color: #000;
  }
}

.file-item {
  @extend .manager-grid-item;
  position: relative;
  overflow: hidden;
  transition: 0.4s;

  &-img {
    @extend .mb-4;
    width: 100%;
    height: 200px;
    overflow: hidden;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transition: 0.4s;
    }

    & img:hover {
      transform: scale(1.05);
    }
  }

  &-content {
    @extend .px-4;
    @extend .pb-4;
  }

  &-title {
    @extend .mb-4;
    display: block;
    height: $step * 12;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      color: $gold;
    }
  }

  &-owner {
    margin-bottom: ($step * 2);
  }

  &-group {
  }

  &-close {
    position: absolute;
    font-size: ($step * 6);
    width: ($step * 6);
    height: ($step * 6);
    top: ($step * 3);
    right: ($step * 3);
    color: $warning-color;
    cursor: pointer;
  }

  &-type {
    @extend .mb-4;

    a {
      color: $font-color;
    }
  }
}

.manager-button {
  @extend .def-button;
  height: 2rem;
}
