$step: 0.25 * 1rem;
$main-color: #000;
$second-color: #000;
$font-color: #000;

.container {
  max-width: 1024px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb-4 {
  margin-bottom: ($step * 4);
}

.px-4 {
  padding-left: ($step * 4);
  padding-right: ($step * 4);
}

html,
body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
  height: 100%;
  color: $font-color;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid $main-color;

  &-content {
    @extend .container;
    padding-top: ($step * 4);
    padding-bottom: ($step * 4);
  }
}

.main {
  @extend .mb-4;
  flex: 1 0 0;

  &-content {
    @extend .container;
    height: 100%;
    margin-top: ($step * 8);
  }
}

.manager-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;

  &-item {
    flex: 0 0 calc(33.33333333% - 1rem);
    max-width: calc(33.33333333% - 1rem);
  }
}

.file-item {
  @extend .manager-grid-item;
  border: 1px solid $main-color;

  &-img {
    @extend .mb-4;

    & img {
      width: 100%;
      height: 200px;
      object-position: center;
      object-fit: cover;
    }
  }

  &-content {
    @extend .px-4;
  }

  &-title {
    @extend .mb-4;
    height: $step * 12;
    overflow: hidden;
  }
}
