<div class="auth-card">
    <div class="auth-card-header">
        Вход
    </div>
    <div class="auth-card-body">
        <div id="auth-error" class="auth-error"></div>
        <form id="auth-form" class="form">
            <label>
                <input
                    type="text"
                    name="username"
                    placeholder="имя пользователя"
                    autocomplete="username"
                >
            </label>
            <label>
                <input
                    type="password"
                    name="password"
                    placeholder="пароль"
                    autocomplete="current-password"
                >
            </label>
            <button type="submit">Войти</button>
        </form>
        <a href="/register" class="auth-link">Зарегистрироваться</a>
    </div>
</div>
<script src="/public/default/common.js"></script>
<script src="/static/auth/auth.js" data-action="login"></script>
