<div class="auth-card">
    <div class="auth-card-header">
        Регистрация
    </div>
    <div class="auth-card-body">
        <div id="auth-error" class="auth-error"></div>
        <form id="auth-form" class="form">
            <label>
                <input
                    type="text"
                    name="username"
                    placeholder="имя пользователя"
                    autocomplete="username"
                >
            </label>
            <label>
                <input
                    type="password"
                    name="password"
                    placeholder="пароль"
                    autocomplete="new-password"
                >
            </label>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="/login" class="auth-link">Уже есть аккаунт? Войти</a>
    </div>
</div>
<script src="/public/default/common.js"></script>
<script src="/static/auth/auth.js" data-action="register"></script>
