<div class="editor-header p-2 mb-4">
    <div class="editor-header-content">
        <span class="editor-title">Редактировать статью</span>
        <a id="editor-btn" href="" class="editor-btn def-button flex-basic px-2">Читать</a>
        <button id="save-btn" class="editor-btn def-button flex-basic px-2">Сохранить</button>
    </div>
</div>
<div id="editor-card" class="editor-card tabs">
    <div class="tabs-header mb-4 flex-basic">
        <button data-tab="general" class="tabs-button def-button flex-basic px-2">Общее</button>
        <button data-tab="perms" class="tabs-button def-button flex-basic px-2">Доступ</button>
        <button data-tab="meta" class="tabs-button def-button flex-basic px-2">Мета</button>
    </div>
    <div class="tabs-body">
        <div data-tab-content="general" class="tabs-content active">
            <input type="hidden" name="file-id" value="{{file_id}}">
            <input type="hidden" name="editor" value="{{editor}}">
            <label class="def-field mb-4">
                <span class="mb-2">Название</span>
                <input class="p-1" name="file-name" value="">
            </label>
            <div class="editor-body">
                <textarea id="editor"></textarea>
            </div>
        </div>
        <div data-tab-content="perms" class="tabs-content">
            <label class="def-field mb-4">
                <span class="mb-2">Родительская директория</span>
                <select class="p-1" name="perm-parent-dir"></select>
            </label>
            <label class="def-field mb-4">
                <span class="mb-2">Владелец</span>
                <select class="p-1" name="perm-owner"></select>
            </label>
            <label class="def-field mb-4">
                <span class="mb-2">Группа</span>
                <select class="p-1" name="perm-group-name"></select>
            </label>
            <label class="def-field mb-4">
                <span class="mb-2">Права Группы</span>
                <select class="p-1" name="perm-group-perms"></select>
            </label>
            <label class="def-field mb-4">
                <span class="mb-2">Права Остальных</span>
                <select class="p-1" name="perm-other-perms"></select>
            </label>
        </div>
        <div data-tab-content="meta" class="tabs-content">
            <div class="def-field mb-4">
                <span class="mb-2">Текущее изображение</span>
                <img class="h-24" name="image-preview" src="">
            </div>
            <label class="def-field mb-4">
                <span class="mb-2">Изображение</span>
                <input class="p-1" type="file" name="image" accept="image/*">
            </label>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/file_manager/detail_file/text_file.css">
<link rel="stylesheet" href="/static/file_manager/detail_file/tinymce/skins/ui/oxide/skin.min.css">
<script src="/public/default/default.js"></script>
<script src="/static/file_manager/detail_file/tinymce/tinymce.min.js"></script>
<script src="/static/file_manager/detail_file/edit_text_file.js"></script>
<script>
    tabs("[data-tab]", "[data-tab-content]")

    const save_btn = document.querySelector("#save-btn")
    const edit_card = document.querySelector("#editor-card")
    const file_id = window.location.pathname.split('/').pop()
    let file_edit_form = mk_file_edit_form({})

    render_read_btn(file_id)

    fetch_file_edit_form(file_id, "root").then(form =>
        file_edit_form = render_file_edit_form(form)
    ).catch(err => alert(err.message))

    edit_card.addEventListener('change', e => {
        const target = e.target
        const name = target.name

        if (name === "file-name")
            file_edit_form = change_file_edit_form(file_edit_form, "title", target.value)

        if (name === "perm-parent-dir")
            file_edit_form = change_file_edit_form(file_edit_form, "parent", target.value)

        if (name === "perm-owner")
            file_edit_form = change_file_edit_form(file_edit_form, "owner", target.value)

        if (name === "perm-group-perms")
            file_edit_form = change_file_edit_form(file_edit_form, "group-perms", target.value)

        if (name === "perm-other-perms")
            file_edit_form = change_file_edit_form(file_edit_form, "other-perms", target.value)

        if (name === "image")
            file_edit_form = render_file_image(
                change_file_edit_form(file_edit_form, "image", target.files)
            )
    })

    document.addEventListener("file_content_changed", e => {
        file_edit_form = change_file_edit_form(
            file_edit_form,
            "content",
            e.detail.value
        )
    })

    save_btn.addEventListener('click', e => {
        save_file_edit_form(file_edit_form, file_id)
            .then(() => alert("Сохранено успешно"))
            .catch(err => alert(err.message))
    })
</script>
