<div class="not-found">
    <p>404 страница не найдена</p>
    <a href="/dashboard/root" class="def-button flex-basic px-2">На главную</a>
</div>
<link rel="stylesheet" href="/static/not_found/not_found.css">
