$step: 0.25 * 1rem;
$main-color: #78184a;
$gold: #a67c43;
$second-color: #000;
$font-color: #fff;
$warning-color: red;

.container {
  width: 1024px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-24 {
  height: 24rem;
}

.m-4 {
  margin-top: ($step * 4);
  margin-right: ($step * 4);
  margin-bottom: ($step * 4);
  margin-left: ($step * 4);
}

.mt-8 {
  margin-top: ($step * 8);
}

.mb-4 {
  margin-bottom: ($step * 4);
}

.mb-2 {
  margin-bottom: ($step * 2);
}

.px-4 {
  padding-left: ($step * 4);
  padding-right: ($step * 4);
}

.px-2 {
  padding-left: ($step * 2);
  padding-right: ($step * 2);
}

.pb-4 {
  padding-bottom: ($step * 4);
}

.py-2 {
  padding-top: ($step * 2);
  padding-bottom: ($step * 2);
}

.p-1 {
  padding-top: ($step * 1);
  padding-left: ($step * 1);
  padding-right: ($step * 1);
  padding-bottom: ($step * 1);
}

.p-2 {
  padding-top: ($step * 2);
  padding-left: ($step * 2);
  padding-right: ($step * 2);
  padding-bottom: ($step * 2);
}

.p-4 {
  padding: ($step * 4);
}

.py-4 {
  padding-top: ($step * 4);
  padding-bottom: ($step * 4);
}

.flex-basic {
  display: flex;
  align-items: center;
}

.def-button {
  @extend .flex-basic;
  justify-content: center;

  @extend .px-2;
  background-color: $gold;
  color: $font-color;
  height: 2rem;

  cursor: pointer;
  border: none;
  text-decoration: none;
}

.def-field {
  display: block;
  @extend .mb-4;

  & span {
    @extend .mb-2;
    display: block;
    font-size: 0.9rem;
  }

  & input {
    display: block;
    width: 100%;
    font-family: monospace;
    @extend .p-1;
    outline: none;
  }

  & select {
    display: flex;
    width: 100%;
    font-family: monospace;
    @extend .p-1;
    outline: none;
  }
}

html,
body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1;
  height: 100%;
  letter-spacing: 0.04rem;
  color: $font-color;
  overflow: scroll;

  background-color: #35356a;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);

  &-content {
    @extend .container;
    @extend .py-4;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.main {
  flex: 1 0 0;
  margin-top: $step * 4;

  &-content {
    @extend .container;
  }
}

.form {
  & label,
  & input {
    display: block;
    width: 100%;
  }

  & input {
    font-family: monospace;
    @extend .p-2;
    border: 1px solid #000;
    outline: none;
  }

  & label {
    @extend .mb-4;
  }

  & button[type="submit"] {
    @extend .p-2;
    cursor: pointer;
    border: 2px solid #000;
    width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;

  &.-show {
    display: block;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
  }

  &-header {
    @extend .p-2;
    @extend .mb-4;
    font-weight: 800;
    border-bottom: 2px solid #000;
    color: #000;
  }

  &-body {
    @extend .p-2;
  }

  &-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    text-align: left;
  }
}

.tabs {
  &-header {
    @extend .mb-4;
    @extend .flex-basic;
    gap: 1rem;
  }
  &-button {
  }
  &-body {
    position: relative;
  }
  &-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &.active {
      opacity: 1;
      z-index: 1;
    }
  }
}

.editor {
  &-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $second-color;
    @extend .p-2;
    @extend .mb-4;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  &-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: $font-color;
    flex: 1 0 0;
  }

  &-card {
    width: 100%;
    height: 100%;
  }

  &-body {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tox-tinymce {
      flex: 1;
    }
  }

  &-btn {
    @extend .def-button;
    height: 2rem;
  }

  & .tabs-body,
  & .tabs-content {
    height: 100%;
  }
}

.editor-status {
  margin-top: ($step * 2);
  font-size: 0.8rem;
  text-align: center;
  color: $gold;
}
